<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasriman | Dashboard</title>
    <link rel="icon" href="https://i.ibb.co/F7PH3zS/logo.jpg" type="image/png">
    <link rel="stylesheet" href="./css/dashboard.css">
    <link rel="stylesheet" href="./css/animation.css">
    <link rel="stylesheet" href="./css/loading.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body th:if="${session.accountrole == 'Staff' || session.accountrole == 'Supervisor'}">
    <div id="loading-screen">
        <video id="loading-video" autoplay loop muted>
          <source src="./video/loadingscreen.mp4" type="video/mp4">
        </video>
      </div>
    <div class="navbarbg">
        <a href="/"><h2>YASRIMAN</h2></a>
        <div class="navlinks">
            <a href="/">HOME</a>
        </div>
    </div>
    <div id="hero">
        <div id="sidebar">
            <b>NAV LINKS</b>
            <!-- Sidebar Navigation Links -->
            <ul>
                <br>
                <li><a th:href="@{/staffdashboard}">Dashboard</a></li>
                <li><a th:href="@{/listallaccounts}">Accounts</a></li>
                <li><a th:href="@{/inventory}">Inventory</a></li>
                <li><a th:href="@{/order?action=view}">Orders</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </div>

        <div class="main  fade-in-up delay-1">
            <h1>Dashboard</h1>
            <div id="main">
                <div>
                    Welcome to Yasriman Family <br>
                    Here is where you manage the accounts, inventory, and payment for orders.
                </div>
        
                <div>
                <div class="totalordertext">
                    <h1>Total Profit</h1><small>/order</small>
                </div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/loading.js"></script>
    <script>
        /* Retrieve orderDataList from the model */
        var orderDataList = /*[[${orderDataList}]]*/ [];
    
        var labels = orderDataList.map(function(data) {
            return new Date(data.orderDate).toISOString().split('T')[0];
        });
    
        var data = orderDataList.map(function(data) {
            return data.sumOrderTotalPrice;
        });
    
        var orderData = {
            labels: labels,
            datasets: [{
                label: 'Total Order Price',
                data: data,
                backgroundColor: 'rgba(26, 77, 46, 0.2)', // #1a4d2e
                borderColor: 'rgba(26, 77, 46, 1)', // #1a4d2e
                borderWidth: 2
            }]
        };
    
        var config = {
            type: 'line',
            data: orderData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };
    
        window.onload = function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            new Chart(ctx, config);
        };
    </script>
</body>
</html>
