<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Notification Sign up</title>
    <link rel="stylesheet" href="../static/css/emailwelcomesignup.css">
</head>
<body>
    <div class="hero">
        <h1>YASRIMAN</h1>
        <br>
        <br>
        <div class="subtitle">
        <h4>
            Thanks for signin up with us!
        </h4>
            Come visit our products ranging from indoor plants to tools. 
        </div>
        <br><br>
        <div class="buttongroup">
            <a href="https://localhost:3456/inventory?action=viewallproducts" class="shopnowbutton">
                SHOP NOW
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f1f9cbc178d135220ccf74206dc3dc5a7daee51912974fb9e463c502ab2aeccf?apiKey=8730b69884724863a1e8089b99726052&" alt="arrow icon" draggable="false" />
            </a>
        </div>
    </div>
</body>
</html>