<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasriman | Order Management</title>
    <link rel="stylesheet" th:href="@{/css/order.css}"> 
    <link rel="stylesheet" th:href="@{/css/animation.css}">
    <link rel="stylesheet" th:href="@{/css/loading.css}">
    <link rel="icon" th:href="@{/images/logo.jpeg}" type="image/png">
</head>
<body th:if="${session.accountrole == 'Staff' || session.accountrole == 'Supervisor'}">
<div id="loading-screen">
        <video id="loading-video" autoplay loop muted>
          <source th:src="@{/video/loadingscreen.mp4}" type="video/mp4">
        </video>
      </div>
      <div class="navbarbg">
        <a href="/"><h2>YASRIMAN</h2></a>
        <div class="navlinks">
            <a href="/">HOME</a>
        </div>
    </div>
    <div id="hero">
        <div id="sidebar">
            <b>NAV LINKS</b>
            <!-- Sidebar Navigation Links -->
            <ul>
                <br>
                <li><a th:href="@{/staffdashboard}">Dashboard</a></li>
                <li><a th:href="@{/listallaccounts}">Accounts</a></li>
                <li><a th:href="@{/inventory}">Inventory</a></li>
                <li><a th:href="@{/order?action=view}">Orders</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </div>
        <div class="hero fade-in-up delay-1">
            <h1>Order Management</h1>
            <div class="table-container">
                <table border="1" class="fade-in-up delay-0" id="tableid">
                        <tr> 
                            <th>ID</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Order Status</th>
                            <th id="payment-status-header" onclick="sortTable()">Payment Status</th>
                            <th>Total</th>
                            <th colspan="2">Action</th>
                        </tr>
                        <th:block th:each="order : ${orders}">
						    <tr>
						        <td th:text="${order.orderId}"></td>
						        <td><span th:text="${#temporals.format(order.orderDate, 'MMM d, yyyy h:mm a')}"></span>
                                </td>
						        <td th:text="${order.accountUsername}"></td>
						        <td th:text="${order.orderStatus}"></td>
						        <td th:text="${order.paymentStatus}"></td>
						        <td>RM <span th:text="${#numbers.formatDecimal(order.sumOrderTotalPrice, 2, 2)}"></span></td>
						        <td><a class="btn btn-info edit-btn" th:href="@{/order?action=show(orderid=${order.orderId},from='view')}">View</a></td>
            					<td><a class="btn btn-primary update-btn" th:href="@{/order?action=show(orderid=${order.orderId},from='update')}">Update</a></td>
						    </tr>
						</th:block>
                </table>
            </div>
        </div>
    </div>
    <script src="@{/js/order.js}"></script>
     <script th:src="@{/js/loading.js}"></script>
</body>
</html>
