<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasriman | Order Management</title>
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <link rel="stylesheet" th:href="@{/css/animation.css}">
    <link rel="stylesheet" th:href="@{/css/loading.css}">
    <link rel="icon" href="/images/logo.jpeg" type="image/png">
</head>
<body>
<div id="loading-screen">
    <video id="loading-video" autoplay loop muted>
        <source th:src="@{/video/loadingscreen.mp4}" type="video/mp4">
    </video>
</div>
<div class="navbarbg">
    <a th:href="@{/}"><h2>YASRIMAN</h2></a>
    <div class="navlinks">
        <a th:href="@{/}">HOME</a>
    </div>
</div>
<div id="hero">
    <div id="sidebar">
        <b>NAV LINKS</b>
        <ul>
            <br>
            <li><a th:href="@{/staffdashboard}">Dashboard</a></li>
            <li><a th:href="@{/listallaccounts}">Accounts</a></li>
            <li><a th:href="@{/inventory}">Inventory</a></li>
            <li><a th:href="@{/order?action=view}">Orders</a></li>
            <!-- Add more navigation links as needed -->
        </ul>
    </div>
    <div class="hero fade-in-up delay-1">
        <div class="topbar">
            <h1>Order Details</h1>
            <a class="btn btn-info edit-btn" th:href="@{/order?action=view}">Back</a>
        </div>
        <span class="orderstatustext">Order status:
            <select name="orderStatus" class="status-dropdown" disabled>
                <option th:value="${order.orderStatus}" th:text="${order.orderStatus}"></option>
            </select>
        </span>
        <div class="table-container">
            <div class="mainbox">
                <div class="accountdetails">
                    <h1>Account Details</h1>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Account ID</th>
                                <th>Account Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td th:text="${order.accountId}"></td>
                                <td th:text="${order.accountUsername}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="inventorydetails">
                    <h1>Ordered Items</h1>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Inventory ID</th>
                                <th>Inventory Name</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${inventoryItems}">
                                <td th:text="${item.inventoryId}"></td>
                                <td th:text="${item.inventoryName}"></td>
                                <td th:text="${item.orderQuantity}"></td>
                                <td th:text="'RM ' + ${#numbers.formatDecimal(item.orderTotalPrice, 1, 2)}"></td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align:right;">Subtotal:</td>
                                <td th:text="'RM ' + ${#numbers.formatDecimal(order.sumOrderTotalPrice, 1, 2)}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="paymentdetails">
                    <h1>Payment Details</h1>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Payment ID</th>
                                <th>Payment Status</th>
                                <th>Payment Proof</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td th:text="${order.paymentID}"></td>
                                <td>
                                    <select name="orderStatus" class="status-dropdown" disabled>
                                        <option th:value="${order.paymentStatus}" th:text="${order.paymentStatus}"></option>
                                    </select>
                                </td>
                                <td>
                                    <img th:if="${base64EncodedImage != null}" th:src="'data:image/*;base64,' + ${base64EncodedImage}" alt="Payment Proof" name="profilepic" draggable="false" width="auto" height="300px"/>
                                    <img th:unless="${base64EncodedImage != null}" src="data:image/png;base64,a" alt="Payment Proof" name="profilepic" draggable="false"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/loading.js}"></script>
</body>
</html>