<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yasriman | Sign In</title>
    <link rel="icon" href="/images/logo.jpeg" type="image/png">
    <link rel="stylesheet" href="./css/signin.css" />
    <link rel="stylesheet" href="./css/animation.css">
    <link rel="stylesheet" href="./css/loading.css">
</head>
<body>
    <div id="loading-screen">
        <video id="loading-video" autoplay loop muted>
          <source src="./video/loadingscreen.mp4" type="video/mp4">
        </video>
      </div>
    <div class="all">
        <div class="formcontainer fade-in-up delay-1">
            <div class="formcontent fade-in-up delay-1">
                <h1>SIGN IN</h1>
                <p th:if="${session.signinerror != 'null' && session.signinerror != null }" style="color: red; font-weight: 500;" th:text="${session.signinerror}"></p>
                <form th:action="@{/signin}" method="post" onsubmit="return validateForm()">
                    <div class="secondline">
                        <input type="email" id="email" name="email" placeholder="Email" autocomplete="off" required /><br />
                        <div class="passwordgroup">
                            <input type="password" id="password" name="password" placeholder="Password" autocomplete="off" required /><br />
                            <img class="eyeToggle" src="./images/eyeslash.svg" draggable="false" alt="Show Password" onclick="togglePasswordVisibility('password', this)" />
                        </div>
                    </div>
                    <div class="signintext">
                        <p>Do not have an account yet?</p>
                        <a th:href="@{/signup}">Sign Up</a>
                    </div>
                    <div class="buttons">
                        <input type="submit" value="Sign In" />
                    </div>
                    <a th:href="@{/}" class="returnhome">Return Home</a>
                </form>
            </div>
            <div class="imagedisplay">
                <img src="/images/signinimage.jpg" alt="image" draggable="false" />
            </div>
        </div>
    </div>
    
    <script src="./js/loading.js"></script>
    <script src="./js/signin.js"></script>
</body>
</html>