<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Yasriman | Update Account Details</title>
    <link rel="icon" href="/images/logo.jpeg" type="image/png">
    <link rel="stylesheet" href="./css/accounts.css">
    <link rel="stylesheet" href="./css/animation.css">
    <link rel="stylesheet" href="./css/loading.css">

</head>
<body th:if="${session.accountrole == 'Staff' || session.accountrole == 'Supervisor'}">
    <div id="loading-screen">
        <video id="loading-video" autoplay loop muted>
          <source src="./video/loadingscreen.mp4" type="video/mp4">
        </video>
      </div>
      <div class="navbarbg">
        <a href="/"><h2>YASRIMAN</h2></a>
        <div class="navlinks">
            <a href="/">HOME</a>
        </div>
    </div>
    <div id="hero">
        <div id="sidebar">
            <b>NAV LINKS</b>
            <!-- Sidebar Navigation Links -->
            <ul>
                <br>
                <li><a th:href="@{/staffdashboard}">Dashboard</a></li>
                <li><a th:href="@{/listallaccounts}">Accounts</a></li>
                <li><a th:href="@{/inventory}">Inventory</a></li>
                <li><a th:href="@{/order?action=view}">Orders</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </div>
        <div class="main fade-in-up delay-1">
            <div class="topbar">
                <h1 th:text="'Update ' + ${accounts.username} + '\'s Account'"></h1>
                <a class="btn btn-info edit-btn" th:href="@{/listallaccounts}">Back</a>
            </div>
            <form th:action="@{updatecustomeraccount(uid=${accounts.id})}" method="post" class="formcontent" onsubmit="return validateUpdateForm()">
                <table border="1">
                    <tr>
                        <th colspan="2">Update Account Details</th>
                    </tr>
                    <tr>
                        <td>ID:</td>
                        <td><input type="text" name="id" th:value="${accounts.id}" size="50" readonly></td>
                    </tr>
                    <tr>
	                    <td>Supervisor:</td>
	                    <td><input type="text" name="supervisor" th:value="${accounts.supervisor}" size="50" readonly></td>
	                </tr>
                    <tr>
                        <td>Role:</td>
                            <td><input type="text" name="role" th:value="${accounts.role}" size="50" readonly></td>
                    </tr>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text"
                            id="username"
                            name="username"
                            placeholder="Username"
                            th:value="${accounts.username}"
                            autocomplete="off"
                            required
                     /></td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td><input type="text"
                            id="firstname"
                            name="firstname"
                            placeholder="First name"
                            th:value="${accounts.firstname}"
                            autocomplete="off"
                            required
                     /></td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td> <input type="text"
                            id="lastname"
                            name="lastname"
                            placeholder="Last name"
                            th:value="${accounts.lastname}"
                            autocomplete="off"
                            required
                     /></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Email"
                            th:value="${accounts.email}"
                            autocomplete="off"
                            readonly
                          /></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>  <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Password"
                            th:value="${accounts.password}"
                            autocomplete="off"
                            readonly
                          /></td>
                    </tr>
                    <tr>
                        <td>Phone Number:</td>
                        <td  class="phonecontainer"> <input type="tel"
                            id="malaysiacode"
                            name="malaysiacode"
                            placeholder="malaysiacode"
                            value="+60"  
                            readonly
                     />  <input type="tel"
                            id="phonenum"
                            name="phonenum"
                            placeholder="Phone Number"
                            th:value="${accounts.phonenum}"
                            autocomplete="off"
                            required
                     />
                </td>
                    </tr>
                    <tr>
                        <td>Street:</td>
                        <td> <input type="text"
                            id="street"
                            name="street"
                            placeholder="Street name"
                            th:value="${accounts.street}"
                            autocomplete="off"
                            required
                     /></td>
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td><input type="text"
                            id="state"
                            name="state"
                            placeholder="State"
                            th:value="${accounts.state}"
                            autocomplete="off"
                            required
                     /></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td><input type="text"
                            id="city"
                            name="city"
                            placeholder="City"
                            th:value="${accounts.city}"
                            autocomplete="off"
                            required
                     /></td>
                    </tr>
                    <tr>
                        <td>Postal Code:</td>
                        <td><input type="text"
                            id="postalcode"
                            name="postalcode"
                            placeholder="Postal code"
                            th:value="${accounts.postalcode}"
                            autocomplete="off"
                            required
                     /></td>
                    </tr>
                    <tr>
                        <td>Account Status:</td>
                        <td><input type="text" name="accountstatus" th:value="${accounts.status}"  /></td>
                    </tr>
                </table>
                <br>
                <div class="buttons">
                    <a class="btn btn-info edit-btn" th:href="@{/listallaccounts}">Cancel</a>
                    <input class="btn btn-info update-btn" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <script src="./js/updateaccounts.js"></script>
    <script src="./js/loading.js"></script>

</body>
</html>
