<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasriman | View Inventory</title>
    <link rel="stylesheet" th:href="@{/css/newinventory.css}">
</head>
<body th:if="${session.accountrole == 'Staff' || session.accountrole == 'Supervisor'}">
    <div class="navbarbg">
        <a href="/"><h2>YASRIMAN</h2></a>
        <div class="navlinks">
            <a href="/">HOME</a>
        </div>
    </div>
    <div id="hero">
        <div id="sidebar">
            <b>NAV LINKS</b>
            <!-- Sidebar Navigation Links -->
            <ul>
                <br>
                <li><a th:href="@{/staffdashboard}">Dashboard</a></li>
                <li><a th:href="@{/listallaccounts}">Accounts</a></li>
                <li><a th:href="@{/inventory}">Inventory</a></li>
                <li><a th:href="@{/order?action=view}">Orders</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </div>
    <div id="main">
        <div class="header-container">
            <h1>View Inventory</h1>
            <a th:href="@{/inventory}"><button>Back to Inventory</button></a>
        </div>

        <div class="edit-container">
            <table>
                <tr>
                    <th>ID</th>
                    <td th:text="${inventory.inventoryID}"></td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td th:text="${inventory.inventoryRole}"></td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>
                        <img th:src="'data:image/jpeg;base64,' + ${inventory.inventoryImageBase64}" alt="${inventory.inventoryImage}" width="60" height="60">
                    </td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td th:text="${inventory.inventoryName}"></td>
                </tr>
                <tr>
                    <th>Price Per Item</th>
                    <td th:text="${inventory.inventoryPricePerItem}"></td>
                </tr>
                <tr>
                    <th>Stock Left</th>
                    <td th:text="${inventory.inventoryQuantityExisting}"></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td th:text="${inventory.inventoryDesc}"></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td th:text="${inventory.inventoryStatus}"></td>
                </tr>
                <tr th:if="${inventory.inventoryRole == 'plant'}">
                    <th>Plant Manual</th>
                    <td th:text="${inventory.plantManual}"></td>
                </tr>
                <tr th:if="${inventory.inventoryRole == 'tool'}">
                    <th>Tool Category</th>
                    <td th:text="${inventory.toolCategory}"></td>
                </tr>
                <tr>
                    <th>Last Changed By</th>
                    <td th:text="${inventory.accountUsername}"></td>
                </tr>
                <tr>
                    <th>Date Changed</th>
                    <td th:text="${inventory.invmanageDateChanged}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
