<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yasriman | Cart</title>
    <link rel="icon" href="/images/logo.jpeg" type="image/png">
    <link rel="stylesheet" th:href="@{/css/viewcart.css}">
    <link rel="stylesheet" th:href="@{/css/animation.css}">
    <link rel="stylesheet" th:href="@{/css/loading.css}">
</head>
<body>
<div id="loading-screen">
    <video id="loading-video" autoplay loop muted>
        <source th:src="@{/video/loadingscreen.mp4}" type="video/mp4">
    </video>
</div>
<div class="navbarbg">
    <a th:href="@{/}"><h2>YASRIMAN</h2></a>
    <div class="logintext">
        <div class="searchdiv">
            <img src="https://svgshare.com/i/177L.svg" alt="" />
            <input type="text" placeholder="Search" name="search" autocomplete="off" id="searchInput"/>
        </div>
        <div th:if="${session.accountusername != null}">
            <a th:href="@{/viewcustomeraccount(uid=${session.loggedinaccountid},from=index)}">
                <span th:text="${session.accountusername}"></span>
                <div class="loginicon">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fee6b20cb0abd925cc4a3bda7cf3fa3366c37bcc07b2da638108c5651aca2ad0?apiKey=8730b69884724863a1e8089b99726052&" class="img" draggable="false" />
                </div>
            </a>
        </div>
        <div th:unless="${session.accountusername != null}">
            <a th:href="@{signup}">
                Sign In/Sign Up
                <div class="loginicon">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fee6b20cb0abd925cc4a3bda7cf3fa3366c37bcc07b2da638108c5651aca2ad0?apiKey=8730b69884724863a1e8089b99726052&" class="img" draggable="false" />
                </div>
            </a>
        </div>
    </div>
    <div th:if="${session.accountrole == 'Staff' || session.accountrole == 'Supervisor'}">
        <a th:href="@{/staffdashboard}">DASHBOARD</a>
    </div>
    <div class="navlinks">
        <a href="/" >HOME</a>
        <a href="inventory?action=viewallproducts" >PRODUCTS</a>
        <a href="cart" class="active">CART</a>
        <a th:href="@{/order(action=history, uid=${session.loggedinaccountid})}">ORDER HISTORY</a>
        <a th:href="@{/coopbusinesslist}">API Coop Businesses List</a>
    </div>
</div>

<main class="fade-in-up delay-1">
    <h2>MY CART</h2>
    <div class="basketmain">
        <form id="checkoutForm" th:action="@{/order(action=checksigninstatus, uid=${session.loggedinaccountid})}" method="post">
            <div class="aside">
                <div class="summary">
                    <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
                    <div class="summary-subtotal">
                        <div class="subtotal-title">Subtotal</div>
                        <div class="subtotal-value final-value" id="basket-subtotal">0.00</div>
                    </div>
                    <div class="summary-total">
                        <div class="total-title">Total</div>
                        <div class="total-value final-value" id="basket-total">0.00</div>
                    </div>
                    <div class="summary-checkout">
                        <button type="submit" class="checkout-cta">Go to Secure Checkout</button>
                    </div>
                </div>
            </div>

            <div class="basket">
                <div class="basket-labels">
                    <ul>
                        <li class="item item-heading">Item</li>
                        <li class="price">Price</li>
                        <li class="quantity">Quantity</li>
                        <li class="subtotal">Subtotal</li>
                    </ul>
                </div>
                <div id="cartItems" class="basket-products"></div>
            </div>

            <!-- Hidden input for cart data -->
            <input type="hidden" id="cartData" name="cartData" />
        </form>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./js/viewcart.js"></script>
<script src="./js/loading.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.getElementById('searchInput').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            const query = event.target.value;
            localStorage.setItem('searchQuery', query);
            window.location.href = 'inventory?action=viewallproducts';
        }
    });
    /*]]>*/
    
</script>
</body>
</html>
